<h1 style="text-align:center;">{{posts.title}}</h1>
<h3 style="text-align: center;">{{posts.date}}</h3>
<hr>
<div class="container-fluid">
    <div class="row">
<img src="/images/{{posts.photo}}" alt="">
</div>
</div>
<hr>
<h4>{{posts.description}}</h4>
<br><h4><strong>{{posts.number_of_likes}} Likes</strong></h4>
<br><a href="/" class="btn btn-primary">Back</a>